<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tool Life Simulator</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="splash-container">
        <img src="/static/download-removebg-preview.png" alt="Titan Logo" class="logo">
        <h1 class="main-title">TOOL LIFE SIMULATOR</h1>

        {% if user %}
            {% if current_user and current_user.is_admin %}
                <div style="margin-top: 20px;">
                    <a href="/admin"><button class="primary-button">Go to Admin Portal</button></a>
                </div>
            {% else %}
                <form method="post" action="/simulate/" enctype="multipart/form-data">
                    <input type="text" name="planner_name" class="input-field" placeholder="Planner Name" required>
                    <input type="number" name="pieces" class="input-field" placeholder="No. of Pieces" required>
                    <input type="file" name="file" class="input-field" required>
                    <button type="submit" class="primary-button">SIMULATE</button>
                </form>
            {% endif %}
        {% else %}
            <div class="button-group">
                <a href="/login"><button class="splash-button">LOGIN</button></a>
                <a href="/register"><button class="splash-button">REGISTER</button></a>
            </div>
        {% endif %}
        
        {% if user %}
    <form action="/logout" method="post" style="display:inline;" class="logoutButton">
        <button type="submit" class="splash-button">Logout</button>
    </form>
{% endif %}

    </div>
</body>
</html>
